<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles/main.css">
  <!-- Setup D3 -->
  <meta charset="utf-8"> <!-- it's important for d3.js -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <!-- Setup ChartJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <!-- Setup AngularJS -->
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/tweetsFactory.js"></script>
  <script src="js/controllers/tweetsController.js"></script>
  <script src="js/controllers/trendsController.js"></script>
  <script src="js/factories/trendsFactory.js"></script>
  <script src="./js/controllers/loginController.js"></script>
  <script src="./js/factories/loginFactory.js"></script>
  <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="js/uStates.js"></script> <!-- creates uStates. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="etc/favicon.ico">

</head>

<body class="dashboard-body">

  <!-- Navbar -->
  <body ng-app="twitApp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid" style="position: relative; margin-top: -10px; margin-bottom: 3px;">
              <h3>Twitter Nation Dashboard
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-regular dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="dropdown-menu">
                    <span>
                      <p class="dropdown-item-text">Account Settings <i class="fas fa-user-circle"></i></p>
                    </span>
                    <hr />
                    <span>
                      <p class="dropdown-item-text">Privacy <i class="fas fa-lock"></i></p>
                    </span>
                    <hr />
                    <span>
                      <p class="dropdown-item-text">Contact Us! <i class="fas fa-phone-square"></i></p>
                    </span>
                    <hr />
                    <span ng-click="logout()">
                      <a href="index.html">
                        <p class="dropdown-item-text">Logout <i class="fas fa-sign-out-alt"></i></p>
                      </a>
                    </span>
                  </div>
                </div>
              </h3>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- US Map -->
    <div class="container" ng-controller="TrendsController" style="margin-top: 30px;">
      <div class="row">
        <div class="col-md-4">
          <br />
          <p ng-controller="TrendsController">
            <button type="button" class="btn btn-primary" ng-Click="clicked()"> Show Data</button>
          </p>
          <button type="button" class="btn btn-primary" onClick="window.location.reload();" ng-Click="setUS()"> United
            States</button>
          <div id="fullmap" ng-Click="clicked()" ng-click="stateCode()">
            <div id="tooltip"></div><!-- div to hold tooltip. -->
            <svg width="800" style="margin-left: 125px;" height="600" viewBox="0 0 960 600" id="statesvg"></svg>
            <!-- <svg width="800" style="display: block; margin: 0 auto;" height="600" viewBox="0 0 960 600" id="statesvg"></svg> -->
            <!-- <svg width="960" height="600" style="margin-left:100px;" id="statesvg"></svg> -->
            <script>
              function tooltipHtml(stateName, tweetsADay) {

                /* function to create html content string in tooltip div. */
                return "<h4>" + stateName + "</h4><table>" +
                  "<tr><td>Twitter Rank:</td><td>" + (51 - (tweetsADay)) + "</td></tr></table>";
              }

              tweet_data = [];

              d3.csv("etc/twitterVolume.csv", function (data) {
                data.forEach(function (d) {
                  tweet_data.push({
                    "state": d.state,
                    "tweetsADay": +d.tweetsADay
                  });
                })
                //console.log(tweet_data);
                //to find max value in an array
                var sampleData = []; /* Sample random data. */
                start = d3.max([1, d3.min(tweet_data, function (d) {
                  return d.tweetsADay;
                })]);
                end = 1 + d3.max(tweet_data, function (d) {
                  /*console.log(d);*/
                  return d.tweetsADay
                });

                // Log Scale, starting number had to be greater than or equal to 1 to not break color coding
                const logScale = d3.scaleLog()
                  .domain([start, end])
                const colorScaleLog = d3.scaleSequential(
                  (d) => {
                    return d3.interpolateBlues(logScale(d))
                  }
                )

                tweet_data.forEach(function (d) {
                  //console.log("d:", d);
                  uStatePaths.forEach(function (s) {
                    //console.log("s:", s);
                    if (d.state == s.n) {
                      d.n = s.n;
                      d.d = s.d;
                      d.id = s.id;
                    }
                  })

                  //console.log(tweet_data)
                  tweetsADay = +d.tweetsADay;

                  sampleData.push({
                    n: d.n,
                    id: d.id,
                    state: d.state,
                    tweetsADay: tweetsADay,
                    path: d.d,
                    color: colorScaleLog(tweetsADay),
                    oldColor: colorScaleLog(tweetsADay),
                    color2: d3.interpolate("#000000", "#ffffff")(Math.round(tweetsADay) / 100)
                  });
                });
                //console.log("sampleData:", sampleData);
                /* draw states on id #statesvg */
                uStates.draw("#statesvg", sampleData, tooltipHtml);
              })
              d3.select(self.frameElement).style("height", "600px");
            </script>

          </div>
        </div>
      </div>
      <span data-ng-init="onloadFun()" id="stateField" class="stateCode" ng-bind="sCode">US</span>
    </div>

    <!-- Displays trend data -->
    <div>
      <p ng-controller="TrendsController">{{stateCode()}}</p> </br>
      <p ng-controller="TrendsController"><button type="button" ng-Click="clicked()"> Show Data</button></br>
        {{trendNames[0]}} &emsp; {{tweetVolume[0]}} </br>
        {{trendNames[1]}} &emsp; {{tweetVolume[1]}} </br>
        {{trendNames[2]}} &emsp; {{tweetVolume[2]}} </br>
        {{trendNames[3]}} &emsp; {{tweetVolume[3]}} </br>
        {{trendNames[4]}} &emsp; {{tweetVolume[4]}} </br>
      </p>
    </div>

    <div class="container" ng-controller="TweetsController">
      <div class="row">
        <div class="col-md-12">
          <div class="embedTweets" style=" width: 50%; margin: 0 auto; overflow: auto; height: 360px; ">
            <button type="button" ng-Click="showTweets()"> show Tweets</button></br>
            <div id="tweets">
              <blockquote class="twitter-tweet">
                <p lang="en" dir="ltr">Raise your hand if you’re voting for President Trump in 2020 👋</p>&mdash; Ryan
                Fournier (@RyanAFournier) <a
                  href="https://twitter.com/RyanAFournier/status/1114591506042642439?ref_src=twsrc%5Etfw">April 6,
                  2019</a>
              </blockquote>
            </div>
            <button ng-Click="stringBasedHTML()">Copy And Paste</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Tweet search -->
    <div class="container" ng-controller="TweetsController">
      <form ng-submit="searchTweets()">
        <input type="text" ng-model="searchQuery" placeholder="Enter a topic to search...">
        <button type="submit"><i class="fa fa-search" ng-Click="stringBasedHTML2()"></i></button>
      </form>
      <div id="abcd"></div>
    </div>

    <!-- Placeholder image -->
    <div class="col-md-6">
      <canvas id="polar-chart" width="500" height="350"></canvas>
    </div>

    <!-- Bar chart for trend data -->
    <div class="barChart col-md-6" ng-controller="TrendsController">
      <canvas id="bar-chart" width="500" height="350"></canvas>
    </div>

    <!-- Pie chart for trend data -->
    <div class="pieChart col-md-6" ng-controller="TrendsController">
      <canvas id="pie-chart" width="500" height="350"></canvas>
    </div>

    <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>
  </body>

</html>
