<!DOCTYPE html>
<html ng-app="twitApp">

<head>
		<script src="https://d3js.org/d3.v3.min.js"></script>
		<script data-require="angular.js@1.4.1" data-semver="1.4.1" src="https://code.angularjs.org/1.4.1/angular.js"></script>
  		<script src="js/app.js"></script>
  		<script src="js/controllers/TrendsController.js"></script>
  		<script src="js/factories/trendsFactory.js"></script>
</head>

<body>

 <div ng-controller="TrendsController">
  <div>Value 1: ({{data[0]}}) 0
    <input type="range" name="points" id="points" value="50" min="0" max="100000" ng-model="data[0]">100
  </div>
  <div>Value 2: ({{data[1]}}) 0
    <input type="range" name="points" id="points" value="50" min="0" max="100000" ng-model="data[1]">100
  </div>
  <div>Value 3: ({{data[2]}}) 0
    <input type="range" name="points" id="points" value="50" min="0" max="10000" ng-model="data[2]">100
  </div>
  <bar-chart data="data"></bar-chart>

  <button ng-click="stateCode()"></button>
  <button ng-click="clicked()"> 2</button>
</div>

</body>
</html>


    