/* Header CSS Start */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dashboard-body{
  background-image: url("https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg");
  background-size: cover;
}
.dropdown-menu {
  position: relative;
  top: 100%; /* Bottom of button */
  margin-right: 100px; /* More to the left */
}

.dropdown-container{
  position: relative;
  margin-left: 400px;
}

.navbar, .container-fluid, .dropdown-toggle{
  background-color: #22262e;
  color: #ffffff;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.dropdown-item-text{
  text-align: center;
  font-size: 16px;
  color: #22262e;
}

.dropdown-item-text:hover{
  cursor:pointer;
  opacity: .5;
}

h3{
  text-align: center;
}

#leftTopScroll{
  float: left;
  margin-top: 20px;
  color: white;
  text-decoration: underline;
}
/* Header CSS End */

/* BarGraph CSS Start */

/* IN PROGRESS */

/* BarGraph CSS End */

/* Map CSS Start */

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.state{
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1;
}
.state:hover{
  cursor: pointer;
  fill-opacity:0.5;
}

#tooltip {
  position: absolute;
  margin: 10px;
  font: 12px sans-serif;
  border: 1px;
  pointer-events: none;
  }

  #tooltip h4{
    margin:0;
    font-size:18px;
    color: plum;
  }

  #tooltip{
    position: absolute;
    margin: 10px;
    font: 14px sans-serif;
    pointer-events: none;
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
  }

  #tooltip table{
    table-layout:fixed;
  }

  #tooltip tr td{
    padding:0;
    margin:0;
  }

  #tooltip tr td:nth-child(1){
    width:50px;
  }

  #tooltip tr td:nth-child(2){
    text-align:center;
  }

  #fullmap {
    margin: auto;
    width: 1000px;
    height: 520px;
  }

  /* Map CSS End */

  /*
  Animation and Keyframes modifed from StackOverFlow and website tutorials
  */

  /* Login CSS Start */

  body {
    margin: 0;
    background-color: #fbfbfb;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: "Segoe UI",Arial,sans-serif; */
  }

  .login {
    --color-primary: #d6a838;
    --color-grey: rgba(68, 160, 179, .06);
    --color-dark: rgba(68, 160, 179, .5);
    --color-semidark: rgba(68, 160, 179, .5);

    text-align: center;
    margin: 60px 0 0 0;
    font-family: 'Segoe UI';
    font-size: 14px;
  }

  .login .login-wrapper {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    height: 100%;
    width: 360px;
    margin: 0 auto;
  }

  .login a {
    color: var(--color-primary);
    text-decoration: none;
    border-bottom: 1px dashed var(--color-semidark);
    margin-top: -3px;
    padding-bottom: 2px;
  }

  .login * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .login .login-brand {
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto -50px auto;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
    box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
    padding: 10px;
    background-color: #1DA1F3;
    z-index: 1;
    position: relative;
  }

  .login .login-brand img {
    width: 100%;
  }

  .login .login-box {
    width: 100%;
    position: absolute;
    left: 0;
  }

  .login .login-box-inner {
    background-color: #fff;
    -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
    padding: 60px 25px 25px 25px;
    text-align: left;
    border-radius: 3px;
  }

  .login .login-box.login-flip {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
    display: none;

  }

  .login .login-box p {
    color: var(--color-semidark);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }

  .login .login-box .login-group {
    margin-bottom: 30px;
  }

  .login .login-box label {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    color: var(--color-semidark);
    font-weight: 700;
  }

  .login .login-box .login-input {
    background-color: var(--color-grey);
    color: var(--color-dark);
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    width: 100%;
  }

  .login .login-box .login-btn {
    display: inline-block;
    width: 100%;
    border: none;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    background-color: var(--color-primary);
    -webkit-box-shadow: 0 2px 7px var(--color-semidark);
    box-shadow: 0 2px 7px var(--color-semidark);
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .login .login-box .login-btn:hover {
    opacity: .5;
  }

  .login .text-foot {
    text-align: center;
    padding: 10px;
    font-weight: 700;
    margin-top: 20px;
    color: var(--color-semidark);
  }

  .login .login-footer {
    text-align: center;
    margin: 30px 0;
    font-size: 12px;
    color: var(--color-semidark);
    font-weight: 700;
  }

  /* Login Animation CSS Start */
  .login .login-box.login-animated {
    -webkit-animation-name: loginAnimated;
    animation-name: loginAnimated;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .login .login-box.login-animatedback {
    -webkit-animation-name: loginAnimatedBack;
    animation-name: loginAnimatedBack;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .login .login-box.login-animated-flip {
    -webkit-animation-name: loginAnimatedFlip;
    animation-name: loginAnimatedFlip;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .login .login-box.login-animated-flipback {
    -webkit-animation-name: loginAnimatedFlipBack;
    animation-name: loginAnimatedFlipBack;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .login .login-brand.login-animated {
    -webkit-animation-name: loginBrandAnimated;
    animation-name: loginBrandAnimated;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .login .login-group.password-group {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .login .login-group.password-group.login-animated {
    -webkit-animation-name: loginPasswordAnimated;
    animation-name: loginPasswordAnimated;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .login .login-group.password-group.login-animated-back {
    -webkit-animation-name: loginPasswordAnimatedBack;
    animation-name: loginPasswordAnimatedBack;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  /* Login Keyframes CSS Start */
  @-webkit-keyframes loginAnimated {
    0% {
      -webkit-transform: rotate3d(0);
      transform: rotate3d(0);
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate3d(0, 1, 0, 180deg);
      transform: rotate3d(0, 1, 0, 180deg);
    }
  }
  @keyframes loginAnimated {
    0% {
      -webkit-transform: rotate3d(0);
      transform: rotate3d(0);
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate3d(0, 1, 0, 180deg);
      transform: rotate3d(0, 1, 0, 180deg);
    }
  }

  @-webkit-keyframes loginAnimatedBack {
    0% {
      opacity: 0;
      -webkit-transform: rotate3d(0, 1, 0, 180deg);
      transform: rotate3d(0, 1, 0, 180deg);
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: rotate3d(0);
      transform: rotate3d(0);
    }
  }

  @keyframes loginAnimatedBack {
    0% {
      opacity: 0;
      -webkit-transform: rotate3d(0, 1, 0, 180deg);
      transform: rotate3d(0, 1, 0, 180deg);
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: rotate3d(0);
      transform: rotate3d(0);
    }
  }

  @-webkit-keyframes loginAnimatedFlip {
    0% {
      -webkit-transform: rotate3d(0, 1, 0, -180deg);
      transform: rotate3d(0, 1, 0, -180deg);
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 0, 180deg);
      transform: rotate3d(0, 0, 0, 180deg);
    }
  }

  @keyframes loginAnimatedFlip {
    0% {
      -webkit-transform: rotate3d(0, 1, 0, -180deg);
      transform: rotate3d(0, 1, 0, -180deg);
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 0, 180deg);
      transform: rotate3d(0, 0, 0, 180deg);
    }
  }

  @-webkit-keyframes loginAnimatedFlipBack {
    0% {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 0, 180deg);
      transform: rotate3d(0, 0, 0, 180deg);
    }
    95% {
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(0, 1, 0, -180deg);
      transform: rotate3d(0, 1, 0, -180deg);
      opacity: 0;
    }
  }

  @keyframes loginAnimatedFlipBack {
    0% {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 0, 180deg);
      transform: rotate3d(0, 0, 0, 180deg);
    }
    95% {
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(0, 1, 0, -180deg);
      transform: rotate3d(0, 1, 0, -180deg);
      opacity: 0;
    }
  }

  @-webkit-keyframes loginBrandAnimated {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(0, -120px);
      transform: translate(0, -120px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes loginBrandAnimated {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(0, -120px);
      transform: translate(0, -120px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @-webkit-keyframes loginPasswordAnimated {
    0% {
      -webkit-transform: rotate3d(0, 0, 0, 0);
      transform: rotate3d(0, 0, 0, 0);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate3d(1, 0, 0, -180deg);
      transform: rotate3d(1, 0, 0, -180deg);
      z-index: -1;
    }
  }

  @keyframes loginPasswordAnimated {
    0% {
      -webkit-transform: rotate3d(0, 0, 0, 0);
      transform: rotate3d(0, 0, 0, 0);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate3d(1, 0, 0, -180deg);
      transform: rotate3d(1, 0, 0, -180deg);
      z-index: -1;
    }
  }

  @-webkit-keyframes loginPasswordAnimatedBack {
    0% {
      opacity: 0;
      -webkit-transform: rotate3d(1, 0, 0, -180deg);
      transform: rotate3d(1, 0, 0, -180deg);
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 0, 0);
      transform: rotate3d(0, 0, 0, 0);
    }
  }

  @keyframes loginPasswordAnimatedBack {
    0% {
      opacity: 0;
      -webkit-transform: rotate3d(1, 0, 0, -180deg);
      transform: rotate3d(1, 0, 0, -180deg);
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 0, 0);
      transform: rotate3d(0, 0, 0, 0);
    }
  }

  /* Login/Animation/KeyFrame CSS End */



  #USbutton{
    display: inline;
  }

  #dataHead{
    font-size: 28px;
    text-align: center;
  }
